<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="It&apos;s A Deal"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ItsADeal"
        tools:targetApi="31">
        <activity
            android:name=".choiceforgroup"
            android:exported="false" />
        <activity
            android:name=".JoinGroupChatActivity"
            android:exported="false" />
        <activity
            android:name=".CreateGroupChatActivity"
            android:exported="false" />
        <activity
            android:name=".MessageAdapter"
            android:exported="false" />
        <activity
            android:name=".GroupChatActivity"
            android:exported="false" />
        <activity
            android:name=".fast_delivery_activity"
            android:exported="false" />
        <activity
            android:name=".WebView_Activity"
            android:exported="false" />
        <activity
            android:name=".contact_activity"
            android:exported="false" />
        <activity
            android:name=".Signup_page"
            android:exported="false" />
        <activity
            android:name=".Signin_page"
            android:exported="false" />
        <activity
            android:name=".first_page"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".final_page"
            android:exported="false" />
        <activity
            android:name=".MainActivity2"
            android:exported="false" />
        <activity
            android:name=".animation_activity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>